/*Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');/*Heading*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');/*Instructions*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/*Numbers*/

/*Wild card*/
* {
    margin:0;
    padding:0;
}

/*Theme*/

body{
    background-color: #ECDFCC;
    color: #2c795f;
}

#home-container{
    background-color: #ECDFCC;
    border-color: #2c795f;

}

.buttons-text{
    background-color: #1c1414;
    border-color: #2c795f;
    color: #ECDFCC;
}

.buttons-text:hover{
    background-color: #ECDFCC;
    border-color: #2c795f; 
    color: #1c1414;
}  

label {
    color: #1c1414; 
}


/*Font styling*/
h1, h2{
    font-family:'Protest Strike', 'Franklin Gothic Medium';
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 150%;
}

.options, a {
    font-family:  'Patrick hand', 'Calibri', 'Trebuchet MS';
    letter-spacing: 2px;
    font-size: 120%;
    text-decoration: none;
}

/*Margins & Paddings*/
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    margin-top: 20px;
}

#home-container{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.options{
    margin-bottom: 10px;
}

input[type=radio] {
    margin-left: 10px;
    margin-right:10px;
    }

.buttons-links{
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Home container*/
#home-container{
    border-width: 8px;
    border-style: solid;
    height: max-content;
    width: 60%;
}

.options{
    text-align: center;
}

.buttons-links{
    display: flex;
    justify-content: center;
}

.buttons-text{
    border-width: 4px;
    border-style: solid;
    border-radius: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-weight: bolder;
}
fieldset{
    border: none;
}